

/* top-header */

.top-header{
    display: flex;
    gap: 10px;
    padding: 20px 150px;
    justify-content: space-between;
    /* background-color: #BDC9FF; */
}
.up-to-header{
    font-size: 28px;
    font-weight: 800;
}
.download-resume{
    padding: 17px 24px;
    border-radius: 8px;
    border-color: #565A64;
    font-size: 20px;
    font-weight: 600;
    color: #565A64;
    box-sizing: border-box;
    background-color: #ffff;
}

/* header */

.header{
    height: 655px;
    width: 100%;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    padding: 26px 197px 45px 245px;
}
.person-pic{
    height: 240px;
    width: 240px;
}
.heading-img{
    
    width: 1000px;
    text-align: center;
}
.heading-title{
    width: 1000px;
    text-align: center;
}
.heading-sub-title{
    font-size: 48px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}
.heading-discribtion{
    margin-bottom: 30px;
    width: 650px;
    padding-left: 180px;
    font-size: 20px;
}
.contact-btn{
    font-size: 20px;
    font-weight: 600;
    color: #ffff;
    padding: 21px 24px;
    background-color: black;
    border-radius: 8px;
    border: none;
}


/* main */

/* why web dev section */

.why-web-dev-one{
height: 1300px;
width: 80%;
background-color: #BDC9FF;
margin: 20px 80px;
padding: 50px 50px;
border-radius: 16px;
border: none;
}
.why-web-dev-two{
    height: 1000px;
    width: 100%;
    
}
.why-web-dev-four{
    flex-direction: column;
}
/* .why-web-dev-four div{

} */
.why-web-dev-three{
    margin-left: 85px;
    width: 700px;
    text-align: center;
    padding: 50px 144px;
    
}
.why-web-dev-title{
    font-size: 32px;
    font-weight: 800;
}

.why-web-dev-five{
    padding: 48px;
    border-radius: 16px;
    border: none;
    background-color: #ffff;
    margin-bottom: 40px;
}
.why-web-dev-five-one{
    display: flex;
    justify-content: space-between;
}
.why-web-dev-five-one-box-one{
    width: 400px;
}
.why-web-dev-five-title{
    font-size: 24px;
    font-weight: bold;
}
.why-web-dev-five-button{
    font-size: 20px;
    background: #ffff;
    padding: 15px 30px;
}
.why-web-dev-six{
    padding: 48px;
    border-radius: 16px;
    border: none;
    background-color: #FFFFFF;
    margin-bottom: 40px;
}
.why-web-dev-six-one{
    display: flex;
    gap: 150px;
}
.why-web-dev-six-one-box-two{
    width: 400px;
}
.why-web-dev-six-title{
    font-size: 24px;
    font-weight: bold;
}
.why-web-dev-six-button{
    font-size: 20px;
    background: #ffff;
    padding: 15px 30px;
}
.why-web-dev-seven{
    padding: 48px;
    border-radius: 16px;
    border: none;
    background-color: #FFFFFF;
}
.why-web-dev-seven-one{
    display: flex;
    justify-content: space-between;
}
.why-web-dev-seven-one-box-one{
    width: 400px;
}
.why-web-dev-seven-title{
    font-size: 24px;
    font-weight: bold;
}
.why-web-dev-seven-button{
    font-size: 20px;
    background: #ffff;
    padding: 15px 30px;
}

/* my-insparation */


.my-inspiration{
    text-align: center;
    
    width: 87%;
    height: 700px;
    margin: 20px 80px;
    border-radius: 16px;
    border: none;
    padding-left: 50px;
}
.my-inspairation-text-box{
    width: 850px;
    padding-left: 200px;
    margin-bottom: 30px;
}
.my-insparation-title{
font-size: 32px;
font-weight: 900;
}
.iframe-box{
    height: 500px;
    width: 90%;
    
    border: 5px solid #4D5A6A;
    border-radius: 16px;
    padding: 30px;
}


/* my current target */

.target{
    width: 80%;
    margin: 20px 80px;
    padding-left: 80px;
    border-radius: 16px;
    border: none;
}
.My-Current-Target{
    
}
.my-current-target-box-one{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 48px;
}
.my-current-target-first-title{
    font-size: 32px;
    font-weight: 800;
}
.my-current-target-box-two{
    display: flex;
    justify-content: space-between;
    
}
.skill-target{
    width: 250px;
    border-radius: 16px;
    padding: 40px;
    margin-bottom: 80px;
}

.my-current-target-img{
    height: 56px;
    width: 56px;
}
.my-current-target-title{
    font-size: 24px;
    font-weight: 900;
}
.more-about-my-current-target{
    font-weight: bold;
}


.my-next-target-box-one{
    text-align: center;
    margin-bottom: 48px;
}
.my-next-target-title{
    font-size: 32px;
    font-weight: 800;
}

.next-target{
    border: 3px solid #4D5A6A;
    border-radius: 16px;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    margin-bottom: 25px;
    gap: 50px;
}
.my-next-target-image{
    height: 120px;
    width: 120px;
}


/* support section */

.support{
    width: 80%;
    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    border: none;
    margin: 80px auto;
    text-align: center;
    padding: 64px 48px;
}
.support-section-title{
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
}
.support-section-discribtion{
    color: #FFFFFF;
    width: 500px;
    padding-left: 350px;
}
#feedback{
    width: 500px;
    padding: 19px 20px;
    margin-right: 16px;
    border-radius: 8px;
    border: none;
}

#submit{
    padding: 15px 20px;
    padding-top: 12px;
    padding-bottom: 14px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin: 0;
    cursor: pointer;
}


/* footer */

.footer-div{
    display: flex;
    justify-content: space-between;
    padding: 32px 150px;
    background-color: #BDC9FF;
    margin: 0;
}
.footer-first-div{
    font-size: 20px;
    font-weight: 600;
}
.footer-second-div{
    padding-top: 25px;
    width: 280px;
}
.footer-img{
   margin-right: 50px; 
}